/* Princiapl colors 

grey : #303030
dark-grey : #181818
blue : #01ABEB
white : #EEEEEE
*/

/* Font Style*/
@font-face
{
    font-family: ebrima;
    src: url(../fonts/ebrima.ttf);
}

/* Layout */
html, body
{
    height: 100%;
    background: #181818;
    margin: 0;
    color : #EEEEEE;
    font-family: ebrima,Arial, Helvetica, sans-serif;
}
/* BLOC LEFT */
.bloc-left
{  
    flex :1;
    display: flex;
    flex-wrap: wrap;
    background : #303030;
    justify-content: center;
}

.img-profil
{
    height: 200px;
    
}


.bloc-left  h1
{   
    text-align: left;
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-weight: bolder;
}
.bloc-left  article
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.bloc-left > article.w-100
{
    padding-left: 0!important;
    padding-right: 0!important;
}
.bloc-left article > h2
{
  color : #01ABEB;
  font-size: 1.5em;
  margin: 0;
}
.bloc-left p
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    word-wrap: break-word;
}

/* BLOC RIGHT */
.bloc-right
{  
    flex:5;
    background: #181818;    
    padding-left: 2vw ;
}
.bloc-right > header
{
    font-size: 4em;
    color: #01ABEB;
}
.bloc-right em
{
    font-style: italic;
}
.bloc-right > section > h1
{
    color: #01ABEB;
    font-size: 3em;
    margin: 0;
}

/*  utils */
.text-right
{
    text-align: right;
}
.w-100
{
    width: 100%;
}


/* FLEX Utils */
.align-self-center
{
    align-self: center;
}
.container-flex
{
    display : flex;
    flex-wrap: wrap;
}
.no-wrap
{
    flex-wrap: nowrap!important ;
}
.container-flex.sa
{
    justify-content: space-around;
}

.container-flex-column
{
    display: flex;
    flex-direction: column;
}

.container-flex-column article
{
    padding-left: 1em;
    padding-right: 1em;
}
.container-flex-column article > h2
{
    margin-bottom:0 ;
}
.container-flex-column article p
{
    margin-top: 0.1em ;
}

/**
    BADGE
*/

.badge
{
    margin: 0.2em;
    padding: 0.2em ;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius : 0.3em;
    color: #EEEEEE;
    text-decoration: none;
    
}
.badge:hover
{
    box-shadow: 0 0 0.5em black;
}
.badge > i
{
    margin-right: 10px;
    
}
.badge-linkedin
{
    background: #0077b5;
    
}
.badge-gitlab
{
    background : #e24329
}
.badge-twitter
{
    background : rgb(29, 161, 242)
}


